



body {
  background-color: #f7f7f7;
  padding: 0 20px;
}

#title {
  color: white;
  background-color: #202525;
  padding: 10px 20px;
  margin: 0 -30px 10px;
}

#title > h2 {
  display: inline-block;
  font-size: 2.5em;
  vertical-align: text-top;
  font-weight: initial;
  margin: 10px 10px 0px 10px;
}

#title > h3 {
  font-size: 1.5em;
  font-weight: lighter;
  margin: 10px;
}

#title > img {
  width: 48px;
}

#local-projects, #google-drive, #dropbox {
  background-color: white;
}

#gdrive_connect, #dropbox_connect {
  float: right;
}


/* Editor flex */
.flex-container {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.baseline {
  align-items: baseline;
}

.editor-section-subheader {
  text-transform: uppercase;
  font-stretch: condensed;
  text-align: right;
  min-width: 120px;
  min-height: 30px;
}

.editor-section-sep {
  align-self: stretch;
  margin-left: 10px;
  border-left: 2px solid #929292;
}

.editor-section-contents {
  padding-left: 20px;
  width: 100%;
}

/* Editor styles */

#project-title {
  font-size: xx-large;
}

#project-author {
  font-size: large;
}

#project-date {
  font-size: large;
}


/* Section headers */

.section-anchor {
  width: 140px;
  text-transform: uppercase;
  text-align: right;
  color: inherit;
  cursor: pointer;
  font-size: large;
  font-stretch: condensed;
  font-weight: bold;
}

.section-anchor:after {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f138";
  padding-left: 8px;
}

.section-anchor.in:after {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f13a";
  padding-left: 8px;
}


/* Output select buttons */
.slate-btn, .slate-btn:focus {
  border-radius: 50%;

  color: white;
  background-color: lightgray;
  text-align: center;

  font-family: "Font Awesome 5 Free";
  font-size: 16px;
  font-weight: bold;
  padding-top: 6px;

  cursor: pointer;

  width: 28px;
  height: 28px;

  margin: 4px 4px;
}

.slate-btn:hover {
  background-color: lightgray;
  color: white;
}

.slate-btn.in, .slate-btn.in:hover {
  background-color: black;
  color: white;
}

/*
Main sections


.slates-main-section {
  padding: 0px;
}

.slates-main-section .panel-group .panel {
	border-radius: 0;
}

.slates-main-section .panel-default > .panel-heading {
  padding: 0;
  border-radius: 0;
  color: #212121;
  background-color: #FAFAFA;
  border-color: #EEEEEE;
}

.slates-main-section .panel-title {
	font-size: 20px;
}

.slates-main-section .panel-title > a, a:active, a:focus, a:hover {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: inherit;
}

.more-less {
	float: right;
	color: #212121;
}
*/





.dropdown-menu>li>a {
  cursor: pointer;
}

.modal-lg {
  width: 1000px;
}


.output-btn-selected {
  background-color: black;
}

.slates-compact.well {
  margin-top: -1px;
  padding: 6px;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*
.slates-compact hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.slates-compact .form-group {
  margin-bottom: 6px;
}

.slates-compact .form-control {
  height: 28px;
}

.slates-compact textarea.form-control {
  height: auto;
}

.slates-compact .selectize-input {
  min-height: 28px;
  padding: 2px 12px;
}
*/

.box .nav > li > a {
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
}

.slates-compact .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background-color: #f5f5f5
}


.box-settings {
  padding-left: 5px;
  padding-right: 5px;
}

.box-settings .box-header {
  padding: 6px;
}

/*.box-settings .box-header h3 {
  font-size: 12px;
}*/

.box-settings .box-header .btn-box-tool {
  font-size: 8px;
}

.box-settings .box-header .btn-xs {
  font-size: 8px;
}


.bg-maroon {
  background-color: #888888 !important;
}


.slates-panel {

}
